.selectedText {
  font-size: 1rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-block: 12px;
  padding-inline: 16px;
  border-bottom: 1px solid #e0e0e0;
}
