.wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr {
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  text-align: left;
  font-weight: normal;
  font-size: 1rem;
  padding-block: 10px;
  padding-inline: 16px;
}

.table td {
  font-size: 0.875rem;
  padding-block: 10px;
  padding-inline: 16px;
}
